body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #000000;
}

.link {
  color: #667eea;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
  text-decoration: none;
}

.link:hover {
  color: #5568d3;
  text-decoration: none;
}

.back-container {
  display: flex;
  direction: row;
  gap: 10px;
  font-size: 14px;
  justify-content: start;
  align-items: center;
}

.back-container:hover {
  opacity: 0.7;
}

.arrow {
  font-size: 20px;
}
