.home-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  margin: 10px 312px;
  padding: 0px 20px;
  background-color: blue;
}

.home-container .title {
  color: #c579ff;
  font-size: 48px;
  font-weight: 60px;
}

.home-container .sub-title {
  color: #aa9cbc;
}
.home-container .trending-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
}
