.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: white;
  padding: 10px 350px;
  border-bottom: 1px solid #72449e;
}

.logo_title {
  text-decoration: none;
  font-size: 1.5rem;
  color: #c37bff;
}

.searchContainer {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 400px;
  font-size: 14px;
}

.search-bar {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid #72449e;
  border-radius: 8px;
  outline: none;
  background-color: #060011;
  color: #0d0c22;
  transition: 0.3s ease;
}

.search-bar::placeholder {
  color: #663b8e;
}

.search-bar:focus,
.search-bar:hover {
  outline: none;
  border-color: #8f8d90;
  background-color: #352b48;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #663b8e;
  width: 1rem;
  height: 1rem;
}

.profileContainer {
  display: flex;
  align-items: center;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
