.navbar {
  background-color: #000000;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 1px #5a1aa0 solid;
}

.logo {
  color: #f064b6;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
}

.search-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px #3e0b67 solid;
  border-radius: 8px;
  padding: 5px 10px;
  width: 22%;
  height: 25px;
  gap: 10px;
}

.search-bar:hover {
  border-color: #f064b6;
}

.search-bar:focus-within {
  border-color: #f064b6;
  box-shadow: 0 0 6px rgba(240, 100, 182, 0.3);
}

.search-input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
  background-color: #000000;
  color: white;
}
.search-input::placeholder {
  color: #3e0b67;
}
.search-icon {
  color: #3e0b67;
  font-size: 20px;
}

.profile-navbar-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #3e0b67;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  gap: 10px;
  height: 30px;
  width: auto;
}

.profile-navbar-container:hover {
  background-color: #5a1aa0;
  transform: scale(1.05);
}

.profile-btn {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.drop-down-menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 130%;
  background-color: #3e0b67;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.drop-down-menu .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 5px;
}

.drop-down-menu .list .link {
  text-decoration: none;
}

.drop-down-menu .separator {
  border-top: 1.5px solid #42434a;
}

.drop-down-menu .list .element {
  display: flex;
  align-items: center;
  color: #7e8590;
  gap: 10px;
  transition: all 0.3s ease-out;
  padding: 0px 7px;
  border-radius: 6px;
  cursor: pointer;
}
.card .list .element .icon {
  width: 15px;
  height: 15px;
  transition: all 0.3s ease-out;
}

.drop-down-menu .list .element .label {
  font-weight: 400;
}
.drop-down-menu .list .element:hover {
  background-color: #5353ff;
  color: #ffffff;
  transform: translate(1px, -1px);
}
.profile-navbar-container .login-label {
  color: white;
  font-size: 14px;
}
